@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 5px;
  color: white;
  font-family: KaiTi;
}

.App-title {
  margin-right: 330px;
  font-size: 4em;
  color: aliceblue;
  font-family: KaiTi;
}

.title {
  color: white;
  text-align: left;
  font-family: KaiTi;

}

.subtitle {
  float: left;
  color: white;
  font-family: KaiTi;
}

.card{
  float: left;
  margin-top: 30px;
  font-family: KaiTi;
}

.recommend{
  margin-left: 340px;
  font-family: KaiTi;
}

.book{
  height: 320px;
  width: 220px;
}
