@import '~antd/dist/antd.css';

.App {
  background-image: url(https://up.enterdesk.com/edpic_source/db/ae/5d/dbae5df34ad33e988b29d08bafadd0bd.jpg);
  background-size : 100%;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 300px;
  padding: 5px;
  color: white;
  font-family: KaiTi;
}

.App-title {
  margin-top: 5%;
  font-size: 65px;
  color: aliceblue;
  font-family: KaiTi;
}

.title {
  color: white;
  text-align: left;
  font-family: KaiTi;

}

.subtitle {
  float: left;
  color: white;
  font-family: KaiTi;
}

.App-body{
  background:rgba(255,255,255,0.7);
  padding: '30px';
  height:'100%';
}

.card{
  opacity:0.9;
  float: left;
  margin: 30px;
  font-family: KaiTi;
}

.recommendCard{
  opacity:0.9;
  margin: 30px;

}

.book{
  opacity: 10;
  height: 320px;
  width: 220px;
}
