.firstLine {
    margin-top: 30px;
    margin-left: 550px;
    margin-right: 550px;
}

.secondLine {
    margin-left: 550px;
    margin-right: 550px;
}

.button{
    margin-left: 550px;
    margin-right: 550px;
}

.Login-title{
    font-size: 4em;
    margin-top: 30px;
    color: aliceblue;
}

.userIcon{
    margin-top: 100px;
    margin-left: 46%;
}

.login-form-button{
    margin:auto;
    width: 100%;
}

.BackButton{
    float: right;
    margin-right: 50px;
}

.remeber-check-box{
    margin-left : 30%;
}

.login-form-forgot{
    margin-left : 13%;
}